<!DOCTYPE html>
<html lang="en-US" dir="ltr">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <!-- ===============================================-->
        <!--    Document Title-->
        <!-- ===============================================-->
        <title>BreathEase | Medical Clinic</title>

        <!-- ===============================================-->
        <!--    Favicons-->
        	    <!-- Tautan ke favicon -->
		<link rel="icon" type="image/png" href="{{ url_for('static', filename='img/gallery/favicon.png') }}">
        <!-- ===============================================-->
        <link rel="apple-touch-icon" sizes="180x180" href="assets/img/favicons/apple-touch-icon.png" />
        <link rel="icon" type="image/png" sizes="32x32" href="assets/img/favicons/favicon-32x32.png" />
        <link rel="icon" type="image/png" sizes="16x16" href="assets/img/favicons/favicon-16x16.png" />
        <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicons/favicon.ico" />
        <link rel="manifest" href="assets/img/favicons/manifest.json" />
        <meta name="msapplication-TileImage" content="assets/img/favicons/mstile-150x150.png" />
        <meta name="theme-color" content="#ffffff" />

        <!-- ===============================================-->
        <!--    Stylesheets-->
        <!-- ===============================================-->
        <link href="{{ url_for('static', filename='css/theme.css') }}" rel="stylesheet" />
    </head>

    <body>
        <!-- ===============================================-->
        <!--    Main Content-->
        <!-- ===============================================-->
        <main class="main" id="top">
            <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3 d-block" data-navbar-on-scroll="data-navbar-on-scroll">
                <div class="container">
                    <a class="navbar-brand" href="index.html"><img src="{{ url_for('static', filename='img/gallery/logo.png') }}" width="118" alt="Logo" /></a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"> </span>
                    </button>
                    <div class="collapse navbar-collapse border-top border-lg-0 mt-4 mt-lg-0" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto pt-2 pt-lg-0 font-base">
                            <li class="nav-item px-2"><a class="nav-link" href="#artikel">Article</a></li>
                            <li class="nav-item px-2"><a class="nav-link" aria-current="page" href="#about">About Us</a></li>
                            <li class="nav-item px-2"><a class="nav-link" href="#blog">Our Blog</a></li>
                            
                            
                            <!-- <li class="nav-item px-2"><a class="nav-link" href="#findUs">Membership</a></li>
                            <li class="nav-item px-2"><a class="nav-link" href="#findUs">Help </a></li>
                            <li class="nav-item px-2"><a class="nav-link" href="#findUs">Contact</a></li> -->
                        </ul>
                        <a class="btn btn-sm btn-outline-primary rounded-pill order-1 order-lg-0 ms-lg-4" href="#cekAsma">Cek Asma</a>
                    </div>
                </div>
            </nav>
            <section class="py-xxl-10 pb-0" id="home">
                <div class="bg-holder bg-size" style="background-image: url('{{ bg_url }}'); background-position: top center; background-size: cover"></div>
                <!--/.bg-holder-->

                <div class="container">
                    <div class="row min-vh-xl-100 min-vh-xxl-25">
                        <div class="col-md-5 col-xl-6 col-xxl-7 order-0 order-md-1 text-end"><img class="pt-7 pt-md-0 w-100" src="{{ url_for('static', filename='img/gallery/hero.png') }}" alt="hero-header" /></div>
                        <div class="col-md-75 col-xl-6 col-xxl-5 text-md-start text-center py-6">
                            <h1 class="fw-light font-base fs-6 fs-xxl-7">Elevate <strong>Your Life</strong><br />One&nbsp;<strong> Breath at a Time.</strong></h1>
                            <p class="fs-1 mb-5">
                                Discover if you have asthma with our 24/7 expert system. Get </br> accurate results and personalized guidance, anytime.</p>
                            <a class="btn btn-lg btn-primary rounded-pill" href="#cekAsma" role="button">Check Now</a>
                        </div>
                    </div>
                </div>
            </section>
        

            <!-- ============================================-->
            <!-- <section> begin ============================-->
            <!-- <section class="py-5" id="departments">
                <div class="container">
                    <div class="row">
                        <div class="col-12 py-3">
                            <div class="bg-holder bg-size" style="background-image: url('{{ depart_url }}'); background-position: top center; background-size: contain"></div>

                            <h1 class="text-center">OUR DEPARTMENTS</h1>
                        </div>
                    </div>
                </div>
            </section> -->
            <!-- <section> close ============================-->
            <!-- ============================================-->

            <!-- ============================================-->
            <!-- <section> begin ============================-->
            <!-- <section class="py-0">
                <div class="container">
                    <div class="row py-5 align-items-center justify-content-center justify-content-lg-evenly">
                        <div class="col-auto col-md-4 col-lg-auto text-xl-start">
                            <div class="d-flex flex-column align-items-center">
                                <div class="icon-box text-center">
                                    <a class="text-decoration-none" href="#!"
                                        ><img class="mb-3 deparment-icon" src="{{ url_for('static', filename='img/icons/neurology.png') }}" alt="..." /><img class="mb-3 deparment-icon-hover" src="assets/img/icons/neurology.svg" alt="..." />
                                        <p class="fs-1 fs-xxl-2 text-center">Neurology</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-auto col-md-4 col-lg-auto text-xl-start">
                            <div class="d-flex flex-column align-items-center">
                                <div class="icon-box text-center">
                                    <a class="text-decoration-none" href="#!"
                                        ><img class="mb-3 deparment-icon" src="{{ url_for('static', filename='img/icons/eye-care.png') }}" alt="..." /><img
                                            class="mb-3 deparment-icon-hover"
                                            src="{{ url_for('static', filename='img/icons/eye-care.svg') }}"
                                            alt="..."
                                        />
                                        <p class="fs-1 fs-xxl-2 text-center">Eye care</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-auto col-md-4 col-lg-auto text-xl-start">
                            <div class="d-flex flex-column align-items-center">
                                <div class="icon-box text-center">
                                    <a class="text-decoration-none" href="#!"
                                        ><img class="mb-3 deparment-icon" src="{{ url_for('static', filename='img/icons/cardiac.png') }}" alt="..." /><img
                                            class="mb-3 deparment-icon-hover"
                                            src="{{ url_for('static', filename='img/icons/cardiac.svg') }}"
                                            alt="..."
                                        />
                                        <p class="fs-1 fs-xxl-2 text-center">Cardiac care</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-auto col-md-4 col-lg-auto text-xl-start">
                            <div class="d-flex flex-column align-items-center">
                                <div class="icon-box text-center">
                                    <a class="text-decoration-none" href="#!"
                                        ><img class="mb-3 deparment-icon" src="{{ url_for('static', filename='img/icons/heart.png') }}" alt="..." /><img
                                            class="mb-3 deparment-icon-hover"
                                            src="{{ url_for('static', filename='img/icons/heart.svg') }}"
                                            alt="..."
                                        />
                                        <p class="fs-1 fs-xxl-2 text-center">Heart care</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-auto col-md-4 col-lg-auto text-xl-start">
                            <div class="d-flex flex-column align-items-center">
                                <div class="icon-box text-center">
                                    <a class="text-decoration-none" href="#!"
                                        ><img class="mb-3 deparment-icon" src="{{ url_for('static', filename='img/icons/osteoporosis.png') }}" alt="..." /><img
                                            class="mb-3 deparment-icon-hover"
                                            src="{{ url_for('static', filename='img/icons/osteoporosis.svg') }}"
                                            alt="..."
                                        />
                                        <p class="fs-1 fs-xxl-2 text-center">Osteoporosis</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-auto col-md-4 col-lg-auto text-xl-start">
                            <div class="d-flex flex-column align-items-center">
                                <div class="icon-box text-center">
                                    <a class="text-decoration-none" href="#!"
                                        ><img class="mb-3 deparment-icon" src="{{ url_for('static', filename='img/icons/ent.png') }}" alt="..." /><img
                                            class="mb-3 deparment-icon-hover"
                                            src="{{ url_for('static', filename='img/icons/ent.svg') }}"
                                            alt="..."
                                        />
                                        <p class="fs-1 fs-xxl-2 text-center">ENT</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section> -->
            <!-- <section> close ============================-->
            <!-- ============================================-->

            <section class="bg-secondary" id="artikel">
                <div class="bg-holder" style="background-image: url('{{ eyecare_url }}'); background-size: contain"></div>
                <!--/.bg-holder-->

                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-md-5 col-xxl-6"><img class="img-fluid" src="{{ url_for('static', filename='img/gallery/eye-care.png') }}" alt="..." /></div>
                        <div class="col-md-7 col-xxl-6 text-center text-md-start">
                            <h2 class="fw-bold text-light mb-4 mt-4 mt-lg-0">Apakah asma bisa sembuh?</h2>
                            <p class="text-light">
                                Gejala asma bisa kambuh kapan saja dan terasa sangat mengganggu.<br class="d-none d-sm-block" />Kondisi ini tak jarang membuat penderitanya bertanya-tanya, <br class="d-none d-sm-block" />apakah asma bisa sembuh atau tidak? Agar tidak makin khawatir dengan<br class="d-none d-sm-block" /> hal tersebut, ketahui dulu faktanya berikut ini.
                            </p>
                            <div class="py-3"><a class="btn btn-lg btn-light rounded-pill" href="https://www.alodokter.com/apakah-asma-bisa-sembuh-cek-faktanya-di-sini" role="button">Baca Selengkapnya</a></div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- ============================================-->
            <!-- <section> begin ============================-->
            <section class="pb-0" id="about">
                <div class="container">
                    <div class="row">
                        <div class="col-12 py-3">
                            <div class="bg-holder bg-size" style="background-image: url('{{ aboutUs_url }}'); background-position: top center; background-size: contain"></div>
                            <!--/.bg-holder-->

                            <h1 class="text-center">ABOUT US</h1>
                        </div>
                    </div>
                </div>
                <!-- end of .container-->
            </section>
            <!-- <section> close ============================-->
            <!-- ============================================-->

            <section class="py-5">
                <div class="bg-holder bg-size" style="background-image: url('{{ about_url }}'); background-position: top center; background-size: contain"></div>
                <!--/.bg-holder-->

                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-md-6 order-lg-1 mb-5 mb-lg-0"><img class="fit-cover rounded-circle w-100" src="{{ url_for('static', filename='img/gallery/health-care.png') }}" alt="..." /></div>
                        <div class="col-md-6 text-center text-md-start">
                            <h2 class="fw-bold mb-4">We are developing an asthma care <br class="d-none d-sm-block" />system centered around you.</h2>
                            <p>
                                Website ini merupakan sistem pakar asma yang dirancang untuk <br class="d-none d-sm-block" />membantu Anda mengidentifikasi dan mengelola kondisi asma dengan <br class="d-none d-sm-block" />mudah dan efektif. Kami menggunakan teknologi mutakhir untuk<br class="d-none d-sm-block" /> memberikan penilaian yang akurat dan panduan yang dipersonalisasi, kapan saja dan di mana saja.
                            </p>
                         
                        </div>
                    </div>
                </div>
            </section>

            <!-- ============================================-->
          
            <!-- ============================================-->

            <section class="py-5">
                <div class="bg-holder bg-size" style="background-image: url('{{ doctors_url }}'); background-position: top center; background-size: contain"></div>
                <!--/.bg-holder-->

                <div class="container">
                    <div class="row flex-center">
                        <div class="col-xl-10 px-0">
                            <div class="carousel slide" id="carouselExampleDark" data-bs-ride="carousel">
                                <a class="carousel-control-prev carousel-icon z-index-2" href="#carouselExampleDark" role="button" data-bs-slide="prev"
                                    ><span class="carousel-control-prev-icon" aria-hidden="true"></span><span class="visually-hidden">Previous</span></a
                                ><a class="carousel-control-next carousel-icon z-index-2" href="#carouselExampleDark" role="button" data-bs-slide="next"
                                    ><span class="carousel-control-next-icon" aria-hidden="true"></span><span class="visually-hidden">Next</span></a
                                >
                                <div class="carousel-inner">
                                    <div class="carousel-item active" data-bs-interval="10000">
                                        <div class="row h-100 m-lg-7 mx-3 mt-6 mx-md-4 my-md-7">
                                            <div class="col-md-4 mb-8 mb-md-0">
                                                <div class="card card-span h-100 shadow">
                                                    <div class="card-body d-flex flex-column flex-center py-5">
                                                        <img src="{{ url_for('static', filename='img/gallery/anita.png') }}" width="128" alt="..." />
                                                        <h5 class="mt-3">Anita Deshai</h5>
                                                        <p class="mb-0 fs-xxl-1">Pediatrics, Gochi Medicine</p>
                                                        <p class="text-600 mb-0">Florida, United States</p>
                                                        <p class="text-600 mb-4">10 years experience</p>
                                                        <div class="text-center">
                                                            <button class="btn btn-outline-secondary rounded-pill" type="submit">View Profile</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4 mb-8 mb-md-0">
                                                <div class="card card-span h-100 shadow">
                                                    <div class="card-body d-flex flex-column flex-center py-5">
                                                        <img src="{{ url_for('static', filename='img/gallery/jane.png') }}" width="128" alt="..." />
                                                        <h5 class="mt-3">Jane Flakis</h5>
                                                        <p class="mb-0 fs-xxl-1">Gynaecology, Abenka Care</p>
                                                        <p class="text-600 mb-0">Melbourne, Australia</p>
                                                        <p class="text-600 mb-4">12 years experience</p>
                                                        <div class="text-center">
                                                            <button class="btn btn-outline-secondary rounded-pill" type="submit">View Profile</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4 mb-8 mb-md-0">
                                                <div class="card card-span h-100 shadow">
                                                    <div class="card-body d-flex flex-column flex-center py-5">
                                                        <img src="{{ url_for('static', filename='img/gallery/leo-mario.png') }}" width="128" alt="..." />
                                                        <h5 class="mt-3">Leo Mario</h5>
                                                        <p class="mb-0 fs-xxl-1">Physiotherapy, FitCare</p>
                                                        <p class="text-600 mb-0">London, England</p>
                                                        <p class="text-600 mb-4">25 years experience</p>
                                                        <div class="text-center">
                                                            <button class="btn btn-secondary hover-top rounded-pill border-0" type="submit">View Profile</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="carousel-item" data-bs-interval="2000">
                                        <div class="row h-100 m-lg-7 mx-3 mt-6 mx-md-4 my-md-7">
                                            <div class="col-md-4 mb-8 mb-md-0">
                                                <div class="card card-span h-100 shadow">
                                                    <div class="card-body d-flex flex-column flex-center py-5">
                                                        <img src="{{ url_for('static', filename='img/gallery/anita.png') }}" width="128" alt="..." />
                                                        <h5 class="mt-3">Anita Deshai</h5>
                                                        <p class="mb-0 fs-xxl-1">Pediatrics, Gochi Medicine</p>
                                                        <p class="text-600 mb-0">Florida, United States</p>
                                                        <p class="text-600 mb-4">10 years experience</p>
                                                        <div class="text-center">
                                                            <button class="btn btn-outline-secondary rounded-pill" type="submit">View Profile</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4 mb-8 mb-md-0">
                                                <div class="card card-span h-100 shadow">
                                                    <div class="card-body d-flex flex-column flex-center py-5">
                                                        <img src="{{ url_for('static', filename='img/gallery/jane.png') }}" width="128" alt="..." />
                                                        <h5 class="mt-3">Jane Flakis</h5>
                                                        <p class="mb-0 fs-xxl-1">Gynaecology, Abenka Care</p>
                                                        <p class="text-600 mb-0">Melbourne, Australia</p>
                                                        <p class="text-600 mb-4">12 years experience</p>
                                                        <div class="text-center">
                                                            <button class="btn btn-outline-secondary rounded-pill" type="submit">View Profile</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4 mb-8 mb-md-0">
                                                <div class="card card-span h-100 shadow">
                                                    <div class="card-body d-flex flex-column flex-center py-5">
                                                        <img src="{{ url_for('static', filename='img/gallery/leo-mario.png') }}" width="128" alt="..." />
                                                        <h5 class="mt-3">Leo Mario</h5>
                                                        <p class="mb-0 fs-xxl-1">Physiotherapy, FitCare</p>
                                                        <p class="text-600 mb-0">London, England</p>
                                                        <p class="text-600 mb-4">25 years experience</p>
                                                        <div class="text-center">
                                                            <button class="btn btn-secondary hover-top rounded-pill border-0" type="submit">View Profile</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="carousel-item">
                                        <div class="row h-100 m-lg-7 mx-3 mt-6 mx-md-4 my-md-7">
                                            <div class="col-md-4 mb-8 mb-md-0">
                                                <div class="card card-span h-100 shadow">
                                                    <div class="card-body d-flex flex-column flex-center py-5">
                                                        <img src="{{ url_for('static', filename='img/gallery/anita.png') }}" width="128" alt="..." />
                                                        <h5 class="mt-3">Anita Deshai</h5>
                                                        <p class="mb-0 fs-xxl-1">Pediatrics, Gochi Medicine</p>
                                                        <p class="text-600 mb-0">Florida, United States</p>
                                                        <p class="text-600 mb-4">10 years experience</p>
                                                        <div class="text-center">
                                                            <button class="btn btn-outline-secondary rounded-pill" type="submit">View Profile</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4 mb-8 mb-md-0">
                                                <div class="card card-span h-100 shadow">
                                                    <div class="card-body d-flex flex-column flex-center py-5">
                                                        <img src="{{ url_for('static', filename='img/gallery/jane.png') }}" width="128" alt="..." />
                                                        <h5 class="mt-3">Jane Flakis</h5>
                                                        <p class="mb-0 fs-xxl-1">Gynaecology, Abenka Care</p>
                                                        <p class="text-600 mb-0">Melbourne, Australia</p>
                                                        <p class="text-600 mb-4">12 years experience</p>
                                                        <div class="text-center">
                                                            <button class="btn btn-outline-secondary rounded-pill" type="submit">View Profile</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4 mb-8 mb-md-0">
                                                <div class="card card-span h-100 shadow">
                                                    <div class="card-body d-flex flex-column flex-center py-5">
                                                        <img src="{{ url_for('static', filename='img/gallery/leo-mario.png') }}" width="128" alt="..." />
                                                        <h5 class="mt-3">Leo Mario</h5>
                                                        <p class="mb-0 fs-xxl-1">Physiotherapy, FitCare</p>
                                                        <p class="text-600 mb-0">London, England</p>
                                                        <p class="text-600 mb-4">25 years experience</p>
                                                        <div class="text-center">
                                                            <button class="btn btn-secondary hover-top rounded-pill border-0" type="submit">View Profile</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- ============================================-->
            <!-- <section> begin ============================-->
            <section class="py-5">
                <div class="container">
                    <div class="row">
                        <div class="col-12 py-3">
                            <div class="bg-holder bg-size" style="background-image: url('{{ people_url }}'); background-position: top center; background-size: contain"></div>
                            <!--/.bg-holder-->

                            <h1 class="text-center">PEOPLE WHO LOVE US</h1>
                        </div>
                    </div>
                </div>
                <!-- end of .container-->
            </section>
            <!-- <section> close ============================-->
            <!-- ============================================-->

            <section class="py-8">
                <div class="bg-holder bg-size" style="background-image:url('{{ people1_url }}'); background-position: center; background-size: cover"></div>
                <!--/.bg-holder-->

                <div class="container">
                    <div class="row align-items-center offset-sm-1">
                        <div class="carousel slide" id="carouselPeople" data-bs-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active" data-bs-interval="10000">
                                    <div class="row h-100">
                                        <div class="col-sm-3 text-center">
                                            <img src="{{ url_for('static', filename='img/gallery/people-who-loves.png') }}" width="100" alt="" />
                                            <h5 class="mt-3 fw-medium text-secondary">Edward Newgate</h5>
                                            <p class="fw-normal mb-0">Founder Circle</p>
                                        </div>
                                        <div class="col-sm-9 text-center text-sm-start pt-3 pt-sm-0">
                                            <h2>Fantastic Response!</h2>
                                            <div class="my-2"><i class="fas fa-star me-2"></i><i class="fas fa-star me-2"></i><i class="fas fa-star me-2"></i><i class="fas fa-star-half-alt me-2"></i><i class="far fa-star"></i></div>
                                            <p>
                                                This medical and health care facility distinguishes itself from the competition by providing technologically advanced medical and health care. A mobile app and a website are available via
                                                which you can easily schedule appointments, get online consultations, and see physicians, who will assist you through the whole procedure. And all of the prescriptions, medications, and other
                                                services they offer are 100% genuine, medically verified, and proved. I believe that the Livedoc staff is doing an outstanding job. Highly recommended their health care services.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="carousel-item" data-bs-interval="2000">
                                    <div class="row h-100">
                                        <div class="col-sm-3 text-center">
                                            <img src="{{ url_for('static', filename='img/gallery/people-who-loves.png') }}" width="100" alt="" />
                                            <h5 class="mt-3 fw-medium text-secondary">Jhon Doe</h5>
                                            <p class="fw-normal mb-0">UI/UX Designer</p>
                                        </div>
                                        <div class="col-sm-9 text-center text-sm-start pt-3 pt-sm-0">
                                            <h2>Fantastic Response!</h2>
                                            <div class="my-2"><i class="fas fa-star me-2"></i><i class="fas fa-star me-2"></i><i class="fas fa-star me-2"></i><i class="fas fa-star-half-alt me-2"></i><i class="far fa-star"></i></div>
                                            <p>
                                                This medical and health care facility distinguishes itself from the competition by providing technologically advanced medical and health care. A mobile app and a website are available via
                                                which you can easily schedule appointments, get online consultations, and see physicians, who will assist you through the whole procedure. And all of the prescriptions, medications, and other
                                                services they offer are 100% genuine, medically verified, and proved. I believe that the Livedoc staff is doing an outstanding job. Highly recommended their health care services.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <div class="row h-100">
                                        <div class="col-sm-3 text-center">
                                            <img src="{{ url_for('static', filename='img/gallery/people-who-loves.png') }}" width="100" alt="" />
                                            <h5 class="mt-3 fw-medium text-secondary">Jeny Doe</h5>
                                            <p class="fw-normal mb-0">Web Designer</p>
                                        </div>
                                        <div class="col-sm-9 text-center text-sm-start pt-3 pt-sm-0">
                                            <h2>Fantastic Response!</h2>
                                            <div class="my-2"><i class="fas fa-star me-2"></i><i class="fas fa-star me-2"></i><i class="fas fa-star me-2"></i><i class="fas fa-star-half-alt me-2"></i><i class="far fa-star"></i></div>
                                            <p>
                                                This medical and health care facility distinguishes itself from the competition by providing technologically advanced medical and health care. A mobile app and a website are available via
                                                which you can easily schedule appointments, get online consultations, and see physicians, who will assist you through the whole procedure. And all of the prescriptions, medications, and other
                                                services they offer are 100% genuine, medically verified, and proved. I believe that the Livedoc staff is doing an outstanding job. Highly recommended their health care services.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="position-relative z-index-2 mt-5">
                                    <ol class="carousel-indicators">
                                        <li class="active" data-bs-target="#carouselPeople" data-bs-slide-to="0"></li>
                                        <li data-bs-target="#carouselPeople" data-bs-slide-to="1"></li>
                                        <li data-bs-target="#carouselPeople" data-bs-slide-to="2"></li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- ============================================-->
            <!-- <section> begin ============================-->
            <section class="py-5" id="cekAsma">
                <div class="container">
                    <div class="row">
                        <div class="col-12 py-3">
                            <div class="bg-holder bg-size" style="background-image: url('{{ people_url }}'); background-position: top center; background-size: contain"></div>
                            <!--/.bg-holder-->

                            <h1 class="text-center">CEK GEJALA ASMA</h1>
                        </div>
                    </div>
                </div>
                <!-- end of .container-->
            </section>
            <!-- <section> close ============================-->
            <!-- ============================================-->

            <section class="py-8">
                <div class="container">
                    <div class="row">
                        <div class="bg-holder bg-size" style="background-image: url('{{ dotbg_url }}');; background-position: bottom right; background-size: auto"></div>
                        <!--/.bg-holder-->

                        <!-- <div class="col-lg-6 z-index-2 mb-5"><img class="w-100" src="{{ url_for('static', filename='img/gallery/appointment.png') }}" alt="..." /></div> -->
                        <div class="z-index-2">
                            <form class="row g-3">
                                <div class="col-md-6">
                                    <label class="visually-hidden" for="inputName">Name</label>
                                    <input class="form-control form-livedoc-control" id="inputName" type="text" placeholder="Name" />
                                </div>
                                <div class="col-md-6">
                                    <label class="visually-hidden" for="inputUsia">Usia</label>
                                    <input class="form-control form-livedoc-control" id="inputUsia" type="number" placeholder="Usia" />
                                </div>
                                <div class="col-md-12">
                                    <label class="form-label visually-hidden" for="inputGejala" placeholder="Gejala">Gejala</label>
                                    <select class="form-select" id="inputGejala" name="inputGejala">                                        
                                        <option value="Kesulitan Bernafas (Sesak Nafas)">Kesulitan Bernafas (Sesak Nafas)</option>
                                        <option value="Sering Batuk (Kering, Berdahak)">Sering Batuk (Kering, Berdahak)</option>
                                        <option value="Suara Nafas (Mengi, Bengi)">Suara Nafas (Mengi, Bengi)</option>
                                        <option value="Dada Terasa Sesak (Dada Sakit)">Dada Terasa Sesak (Dada Sakit)</option>
                                        <option value="Lesu dan Lelah">Lesu dan Lelah</option>
                                        <option value="Susah Tidur (Karena sering batuk)">Susah Tidur (Karena sering batuk)</option>
                                        <option value="Mengalami masalah pernafasan (Aktivitas Fisik)">Mengalami masalah pernafasan (Aktivitas Fisik)</option>
                                        <option value="Penurunan Fungsi Paru-Paru sebagai jalan masuk oksigen">Penurunan Fungsi Paru-Paru sebagai jalan masuk oksigen</option>
                                        <option value="Lebih Sensitif terhadap Alergi">Lebih Sensitif terhadap Alergi</option>
                                        <option value="Memburuk di malam hari">Memburuk di malam hari</option>
                                        <option value="Infeksi Pernapasan (pemicu iritasi)">Infeksi Pernapasan (pemicu iritasi)</option>
                                        <option value="Panas">Panas</option>
                                    </select>
                                    <div class="form-label" id="selected-options">
                                        <strong>Gejala Terpilih:</strong>
                                        <span id="options-list">Tidak ada</span>
                                    </div>
                                </div>
                                <!-- <div class="col-md-6">
                                    <label class="form-label visually-hidden" for="inputEmail">Email</label>
                                    <input class="form-control form-livedoc-control" id="inputEmail" type="email" placeholder="Email" />
                                </div>
                                <div class="col-md-12">
                                    <label class="form-label visually-hidden" for="validationTextarea">Message</label>
                                    <textarea class="form-control form-livedoc-control" id="validationTextarea" placeholder="Message" style="height: 250px" required="required"></textarea>
                                </div> -->
                                <div class="col-12">
                                    <div class="d-grid">
                                        <button class="btn btn-primary rounded-pill" type="submit">Cek Gejala</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </section>

            <!-- ============================================-->
            <!-- <section> begin ============================-->
            <section class="py-5" id="blog">
                <div class="container">
                    <div class="row">
                        <div class="col-12 py-3">
                            <div class="bg-holder bg-size" style="background-image: url('{{ blog_url }}'); background-position: top center; background-size: contain"></div>
                            <!--/.bg-holder-->

                            <h1 class="text-center">RECENT BLOGPOSTS</h1>
                        </div>
                    </div>
                </div>
                <!-- end of .container-->
            </section>
            <!-- <section> close ============================-->
            <!-- ============================================-->

            <section>
                <div class="bg-holder bg-size" style="background-image: url('{{ dotbg_url }}'); background-position: top left; background-size: auto"></div>
                <!--/.bg-holder-->

                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-lg-3 mb-4">
                            <div class="card h-100 shadow card-span rounded-3">
                                <img class="card-img-top rounded-top-3" src="{{ url_for('static', filename='img/gallery/covid-19.png') }}" alt="news" />
                                <div class="card-body">
                                    <span class="fs--1 text-primary me-3">Health</span>
                                    <svg class="bi bi-calendar2 me-2" xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" viewBox="0 0 16 16">
                                        <path
                                            d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM2 2a1 1 0 0 0-1 1v11a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1H2z"
                                        ></path>
                                        <path d="M2.5 4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H3a.5.5 0 0 1-.5-.5V4z"></path></svg>
                                    ><span class="fs--1 text-900">Aug 12, 2022</span><span class="fs--1"></span>
                                    <h5 class="font-base fs-lg-0 fs-xl-1 my-3">6 Prinsip Pola Hidup Sehat untuk Pengidap Asman</h5>
                                    <a class="stretched-link" href="https://hellosehat.com/pernapasan/asma/pola-hidup-sehat-untuk-penderita-asma/">Baca Selengkapnya</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-3 mb-4">
                            <div class="card h-100 shadow card-span rounded-3">
                                <img class="card-img-top rounded-top-3" src="{{ url_for('static', filename='img/gallery/laboratories.png') }}" alt="news" />
                                <div class="card-body">
                                    <span class="fs--1 text-primary me-3">Lifestyle</span>
                                    <svg class="bi bi-calendar2 me-2" xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" viewBox="0 0 16 16">
                                        <path
                                            d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM2 2a1 1 0 0 0-1 1v11a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1H2z"
                                        ></path>
                                        <path d="M2.5 4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H3a.5.5 0 0 1-.5-.5V4z"></path></svg>
                                    ><span class="fs--1 text-900">Sep 02, 2021</span><span class="fs--1"></span>
                                    <h5 class="font-base fs-lg-0 fs-xl-1 my-3">Ini Hal yang Harus dan Jangan Dilakukan oleh Pengidap Asma</h5>
                                    <a class="stretched-link" href="https://www.halodoc.com/artikel/ini-hal-yang-harus-dan-jangan-dilakukan-oleh-pengidap-asma">Baca Selengkapnya</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-3 mb-4">
                            <div class="card h-100 shadow card-span rounded-3">
                                <img class="card-img-top rounded-top-3" src="{{ url_for('static', filename='img/gallery/nicotine.png') }}" alt="news" />
                                <div class="card-body">
                                    <span class="fs--1 text-primary me-3">Health</span>
                                    <svg class="bi bi-calendar2 me-2" xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" viewBox="0 0 16 16">
                                        <path
                                            d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM2 2a1 1 0 0 0-1 1v11a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1H2z"
                                        ></path>
                                        <path d="M2.5 4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H3a.5.5 0 0 1-.5-.5V4z"></path></svg>
                                    ><span class="fs--1 text-900">Nov 10, 2022</span><span class="fs--1"></span>
                                    <h5 class="font-base fs-lg-0 fs-xl-1 my-3">Benarkah Penyakit Asma Dapat Menular? Ini Faktanya!</h5>
                                    <a class="stretched-link" href="https://www.halodoc.com/artikel/benarkah-penyakit-asma-dapat-menular-ini-faktanya">Baca Selengkapnya</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-3 mb-4">
                            <div class="card h-100 shadow card-span rounded-3">
                                <img class="card-img-top rounded-top-3" src="{{ url_for('static', filename='img/gallery/treatment.png') }}" alt="news" />
                                <div class="card-body">
                                    <span class="fs--1 text-primary me-3">Health</span>
                                    <svg class="bi bi-calendar2 me-2" xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" viewBox="0 0 16 16">
                                        <path
                                            d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM2 2a1 1 0 0 0-1 1v11a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1H2z"
                                        ></path>
                                        <path d="M2.5 4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H3a.5.5 0 0 1-.5-.5V4z"></path></svg>
                                    ><span class="fs--1 text-900">Nov 07, 2023</span><span class="fs--1"></span>
                                    <h5 class="font-base fs-lg-0 fs-xl-1 my-3">Berbagai Gejala Asma, dari yang Ringan Hingga Gawat</h5>
                                    <a class="stretched-link" href="https://hellosehat.com/pernapasan/asma/gejala-asma/">Baca Selengkapnya</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
           
            <section class="py-0 bg-secondary">
                <div class="bg-holder opacity-25" style="background-image: url('{{ dotbg_url }}'); background-position: top left; margin-top: -3.125rem; background-size: auto"></div>
                <!--/.bg-holder-->

                <div class="container">
                    <div class="row py-8 d-flex justify-content-between align-items-center">
                        <div class="col-auto mb-4">
                            <a class="text-decoration-none" href="#"><img src="{{ url_for('static', filename='img/gallery/footer-logo.png') }}" height="51" alt="" /></a>
                        </div>
                        <div class="col-auto mb-3 text-center">
                            <h5 class="lh-lg fw-bold mb-2 text-light font-sans-serif">434221034</h5>
                            <ul class="list-unstyled">
                                <li class="lh-lg"><a class="footer-link" href="#!">Anisa Maharani</a></li>
                            </ul>
                        </div>
                        <div class="col-auto mb-3 text-center">
                            <h5 class="lh-lg fw-bold text-light mb-2 font-sans-serif">434221051</h5>
                            <ul class="list-unstyled">
                                <li class="lh-lg"><a class="footer-link" href="#!">Fairuz Zahira</a></li>
                            </ul>
                        </div>
                        <div class="col-auto mb-3 text-center">
                            <h5 class="lh-lg fw-bold text-light mb-2 font-sans-serif">434221052</h5>
                            <ul class="list-unstyled">
                                <li class="lh-lg"><a class="footer-link" href="#!">Amelia Nur Indah P</a></li>
                            </ul>
                        </div>
                        <div class="col-auto mb-3 text-center">
                            <h5 class="lh-lg fw-bold text-light mb-2 font-sans-serif">434221057</h5>
                            <ul class="list-unstyled">
                                <li class="lh-lg"><a class="footer-link" href="#!">Lintang Anggraini Nur L.R</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <!-- ============================================-->
                <!-- <section> begin ============================-->
                <section class="py-0 bg-primary">
                    <div class="container">
                        <div class="row justify-content-md-between justify-content-evenly py-4">
                            <div class="col-12 col-sm-8 col-md-6 col-lg-auto text-center text-md-start">
                                <p class="fs--1 my-2 fw-bold text-200">Artificial Intelligence Practicum, 2024</p>
                            </div>
                            <div class="col-12 col-sm-8 col-md-6">
                                <p class="fs--1 my-2 text-center text-md-end text-200">
                                    Made with&nbsp;
                                    <svg class="bi bi-suit-heart-fill" xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="#F95C19" viewBox="0 0 16 16">
                                        <path d="M4 1c2.21 0 4 1.755 4 3.92C8 2.755 9.79 1 12 1s4 1.755 4 3.92c0 3.263-3.234 4.414-7.608 9.608a.513.513 0 0 1-.784 0C3.234 9.334 0 8.183 0 4.92 0 2.755 1.79 1 4 1z"></path></svg>
                                    >&nbsp;by&nbsp;<a class="fw-bold text-info" href="https://themewagon.com/" target="_blank">Kelompok BreathEase</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- end of .container-->
                </section>
                <!-- <section> close ============================-->
                <!-- ============================================-->
            </section>
        </main>
        <!-- ===============================================-->
        <!--    End of Main Content-->
        <!-- ===============================================-->

        <!-- ===============================================-->
        <!--    JavaScripts-->
        <!-- ===============================================-->

        <script>
            let selectedActivities = [];
    
            document.getElementById('inputGejala').addEventListener('change', function () {
                const selectedText = this.options[this.selectedIndex].text;
                const selectedIndex = selectedActivities.indexOf(selectedText);
    
                if (selectedIndex === -1) {
                    selectedActivities.push(selectedText);
                } else {
                    selectedActivities.splice(selectedIndex, 1);
                }
    
                updateSelectedOptions();
            });
    
            function updateSelectedOptions() {
                const optionsList = selectedActivities.length > 0 ? selectedActivities.join(', ') : 'Tidak ada';
                document.getElementById('options-list').textContent = optionsList;
            }
        </script>


        <script src="{{ url_for('static', filename='vendors/@popperjs/popper.min.js') }}"></script>
        <script src="{{ url_for('static', filename='vendors/bootstrap/bootstrap.min.js') }}"></script>
        <script src="{{ url_for('static', filename='vendors/is/is.min.js') }}"></script>
        <script src="https://scripts.sirv.com/sirvjs/v3/sirv.js"></script>
        <script src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll"></script>
        <script src="{{ url_for('static', filename='vendors/fontawesome/all.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/theme.js') }}"></script>
        
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Fjalla+One&amp;family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100&amp;display=swap" rel="stylesheet" />
    </body>
</html>
